#title {
    background-color:  #ff4c68;
    color: white;
}
.mybtn {
    background-color : white;
}
.main {
    text-align: center;
    margin-top: 200px;
}
h2 {
    margin: 120px auto 20px; 
}
h1 {
    line-height: 1.5;
    font-size: 5rem;
}
#title h3 {
    padding-bottom: 120px;
}
.navbar-brand {
    font-size: 1.7rem;
}
.nav-item {
    font-size : 16px;
    padding: 0 20px 0;
}
.icon {
    font-size: 30em;
    text-align: center;
}
#feature {
    text-align: center;
    margin: 20px 120px 0px; ;
}
.feature-box {
    padding:40px 50px 40px;
}
.icon2 {
    color : #ff4c68;
    padding-bottom: 30px;
}
.icon2:hover {
    color : #f83653;
}
.feature-box h3 {
    font-size: 2.5rem;
} 
.feature-box p {
    color : #555555;
}
